In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/amy/work/personal/Demand forecasting/reddit_datascience_new_posts.csv')

In [4]:
df

,Title,ID,URL,Author,Score,Comment Count,Type
0,data siens,k8nyf8,https://dslntlv9vhjr4.cloudfront.net/posts_ima...,NaN,4112,72,Top
1,The pain and excitement,oeg6nl,https://i.redd.it/yqnunwryjg971.jpg,Kent-Clark-,3915,177,Top
2,Shout Out to All the Mediocre Data Scientists ...,hohvgq,https://www.reddit.com/r/datascience/comments/...,MrBurritoQuest,3627,267,Top
3,Let's keep this on...,xdv6nz,https://i.redd.it/k102dyo0yrn91.jpg,CompetitivePlastic67,3599,122,Top
4,"Guys, we’ve been doing it wrong this whole time",tj3kek,https://i.imgur.com/TAex5zG.jpg,NaN,3472,387,Top
...,...,...,...,...,...,...,...
1791,Data Science roles how to,19422i0,https://www.reddit.com/r/datascience/comments/...,chrissizkool,17,29,New
1792,How would you approach finding similar images/...,1940cps,https://www.reddit.com/r/datascience/comments/...,Trungyaphets,2,3,New
1793,Gen Ai in Data Engineering,193y468,https://www.factspan.com/insights/will-generat...,KeyBid5470,4,2,New
1794,How to explain short term outliers to the mana...,193y3ug,https://www.reddit.com/r/datascience/comments/...,One_Ad_3499,42,49,New
1795,Math for data roles,193wnxn,https://www.reddit.com/r/datascience/comments/...,synapsetutor,7,22,New